<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <listener>
        <listener-class>ApplicationLogic.SessionTimeout</listener-class>
    </listener>
    <servlet>
        <servlet-name>show-login</servlet-name>
        <servlet-class>Interface.UserForms</servlet-class>
        <init-param>
            <param-name>action-type</param-name>
            <param-value>displayLoginPage</param-value>
        </init-param>
        </servlet>
    <servlet>
        <servlet-name>show-registration</servlet-name>
        <servlet-class>Interface.UserForms</servlet-class>
        <init-param>
            <param-name>action-type</param-name>
            <param-value>displayRegistrationPage</param-value>
        </init-param>
        </servlet>
    <servlet>
        <servlet-name>do-login</servlet-name>
        <servlet-class>ApplicationLogic.Controller</servlet-class>
        <init-param>
            <param-name>action-type</param-name>
            <param-value>doLogin</param-value>
        </init-param>
        </servlet>
    <servlet>
        <servlet-name>error-page</servlet-name>
        <servlet-class>Interface.UserForms</servlet-class>
        <init-param>
            <param-name>action-type</param-name>
            <param-value>displayErrorPage</param-value>
        </init-param>
        </servlet>
    <servlet>
        <servlet-name>message-page</servlet-name>
        <servlet-class>Interface.UserForms</servlet-class>
        <init-param>
            <param-name>action-type</param-name>
            <param-value>displayMessagePage</param-value>
        </init-param>
        </servlet>
    <servlet>
        <servlet-name>do-register</servlet-name>
        <servlet-class>ApplicationLogic.Controller</servlet-class>
        <init-param>
            <param-name>action-type</param-name>
            <param-value>createPanelistAccount</param-value>
        </init-param>
        </servlet>
    <servlet>
        <servlet-name>create-panel</servlet-name>
        <servlet-class>ApplicationLogic.Controller</servlet-class>
        <init-param>
            <param-name>action-type</param-name>
            <param-value>createPanel</param-value>
        </init-param>
        </servlet>
    <servlet>
        <servlet-name>do-search</servlet-name>
        <servlet-class>ApplicationLogic.Controller</servlet-class>
        <init-param>
            <param-name>action-type</param-name>
            <param-value>doSearch</param-value>
        </init-param>
        </servlet>
    <servlet>
        <servlet-name>do-logout</servlet-name>
        <servlet-class>ApplicationLogic.Controller</servlet-class>
        <init-param>
            <param-name>action-type</param-name>
            <param-value>doLogout</param-value>
        </init-param>
        </servlet>
    <servlet>
        <servlet-name>do-addToPanel</servlet-name>
        <servlet-class>ApplicationLogic.Controller</servlet-class>
        <init-param>
            <param-name>action-type</param-name>
            <param-value>addToPanel</param-value>
        </init-param>
        </servlet>
    <servlet>
        <servlet-name>do-updatePanelStatus</servlet-name>
        <servlet-class>ApplicationLogic.Controller</servlet-class>
        <init-param>
            <param-name>action-type</param-name>
            <param-value>updatePanelStatus</param-value>
        </init-param>
        </servlet>
    <servlet-mapping>
        <servlet-name>show-login</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>show-registration</servlet-name>
        <url-pattern>/registration</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>do-login</servlet-name>
        <url-pattern>/doLogin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>error-page</servlet-name>
        <url-pattern>/errorPage</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>message-page</servlet-name>
        <url-pattern>/messagePage</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>do-register</servlet-name>
        <url-pattern>/doRegister</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>create-panel</servlet-name>
        <url-pattern>/createPanel</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>do-search</servlet-name>
        <url-pattern>/doSearch</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>do-logout</servlet-name>
        <url-pattern>/logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>do-addToPanel</servlet-name>
        <url-pattern>/addPanelist</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>do-updatePanelStatus</servlet-name>
        <url-pattern>/updatePanelStatus</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>15</session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
        </welcome-file-list>

    </web-app>
